/* Valor rgb */

body {
	background-color: rgb(7, 163, 237);
	color: rgb(0,0,0); 
}

/* Valor Hexadecimal */

body {
	background-color: #000000; 
	color: #000000; 
}

/* Valor Nombre */

body {
	background-color: peru;
	color: white;  
}