* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*background: url('docs/design.png');
  opacity: 0.5;*/
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1226px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  padding: 19px 0 4px 0;
  background:black;
}

header, .banner {
  color: white;
}

header h1 { 
  float: left;
  margin-left: 38px; 
}

header nav {
  float: right;
  margin-top: 10px;
}

header img {
  width: 98px;
}

header li {
  display: inline-block;
  vertical-align: top;
}

header li:last-child a{
  margin-right: 0;
}

header a {
  color: #fff;
  margin-right: 38px;
  font-size: 14px;
  transition: color 800ms;
}

header a.fa-bars {
  font-size: 23px;
  margin-right: 0;
}

header a:hover {
  color: #74A534;
}

header a:active, header .active {
  border-bottom: 5px solid #74A534;
}

/* Banner */

.banner {
  background: url('images/cover1.jpg') no-repeat;
  background-size: cover;
  height: 780px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.banner-desc {
  padding-top: 237px;
}

.banner-desc h2 {
  text-align: center;
}

.banner-desc span:first-child {
  display: block;
  font-weight: 300;
  font-size: 41px;
  margin-bottom: 10px;
}

.banner-desc span:last-child {
  display: block;
  font-weight: 300;
  font-size: 41px;
}

.banner-desc a {
  color: white;
  display: block;
  padding: 15px 1.5em;
  text-align: center;
  width:234px;
  border-radius: 5px;
  float: left;
  margin-right: 16px;
}

.btn-wrap {
  overflow: hidden;
  margin: 40px auto;
  width: 500px;
}

a.more {
  border:2px solid #fff;
}

a.started {
  background:#74A534;
  border: 2px solid #74A534;
}

.banner-btn {
  color: white;
  display: block;
}

/* Team */

.team-wrap {
  padding-top: 150px;
}

.team-top {
  text-align: center;
  margin-bottom: 50px;
}

.team {
  width: 24%;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  /*background: url('docs/design.png');
  opacity: 0.5;*/
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1226px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

header {
  padding: 19px 0 4px 0;
  background:black;
}

header, .banner {
  color: white;
}

header h1 { 
  float: left;
  margin-left: 38px; 
}

header nav {
  float: right;
  margin-top: 10px;
}

header img {
  width: 98px;
}

header li {
  display: inline-block;
  vertical-align: top;
}

header li:last-child a{
  margin-right: 0;
}

header a {
  color: #fff;
  margin-right: 38px;
  font-size: 14px;
  transition: color 800ms;
}

header a.fa-bars {
  font-size: 23px;
  margin-right: 0;
}

header a:hover {
  color: #74A534;
}

header a:active, header .active {
  border-bottom: 5px solid #74A534;
}

.team, .services {
  display: inline-block;
}

.team-wrap, .services-wrap {
  padding: 150px;
}

/* Banner */

.banner {
  background: url('images/cover1.jpg') no-repeat;
  background-size: cover;
  height: 780px;
  text-transform: capitalize;
  font-family: 'Raleway', sans-serif;
  position: relative;
}

.banner-desc {
  padding-top: 237px;
}

.banner-desc h2 {
  text-align: center;
}

.banner-desc span:first-child {
  display: block;
  font-weight: 300;
  font-size: 41px;
  margin-bottom: 10px;
}

.banner-desc span:last-child {
  display: block;
  font-weight: 300;
  font-size: 41px;
}

.banner-desc a {
  color: white;
  display: block;
  padding: 15px 1.5em;
  text-align: center;
  width:234px;
  border-radius: 5px;
  float: left;
  margin-right: 16px;
}

.btn-wrap {
  overflow: hidden;
  margin: 40px auto;
  width: 500px;
}

a.more {
  border:2px solid #fff;
}

a.started {
  background:#74A534;
  border: 2px solid #74A534;
}

.banner-btn {
  color: white;
  display: block;
}

/* Team */

.top-section {
  text-align: center;
  margin-bottom: 50px;
}

.team {
  width: 24%;
}

.team img {
  max-width: 100%;
}

/* Services */

.services-wrap {
  background: #f5f5f5;
}

.services {
  width: 30%;
  margin-right: 2%;
  text-align: center;
  background:#fff;
  padding: 70px 2em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background 1s, color 1s;
}

.services:last-child {
  margin-right: 0;
}

.services h3 {
  font-size: 1.5em;
  margin: 15px 0 30px 0;
  position: relative;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.services h3::after {
  content: '';
  display: block;
  height: 3px;
  width: 50px;
  background: #74A534;
  position: absolute;
  bottom: -10px;
  left: 40%;
  transition: background 1s;
}

.services p {
  font-size: 0.8em;
}

.services i {
  font-size: 2em;
  transition: transform 500ms, color 500ms;
}

.services:hover {
  background:#74A534;
  color: white;
}

.services:hover i {
  transform: translateY(-20px);
  color: white;
}

.services:hover h3::after {
  background: white;
}